/* lato-300 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"),
    url("./assets/fonts/lato-v16-latin-300.woff2") format("woff2"),
    url("./assets/fonts/lato-v16-latin-300.woff") format("woff");
}
/* lato-regular - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"),
    url("./assets/fonts/lato-v16-latin-regular.woff2") format("woff2"),
    url("./assets/fonts/lato-v16-latin-regular.woff") format("woff");
}
/* lato-700 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"),
    url("./assets/fonts/lato-v16-latin-700.woff2") format("woff2"),
    url("./assets/fonts/lato-v16-latin-700.woff") format("woff");
}
/* lato-900 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: local("Lato Black"), local("Lato-Black"),
    url("./assets/fonts/lato-v16-latin-900.woff2") format("woff2"),
    url("./assets/fonts/lato-v16-latin-900.woff") format("woff");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Lato", sans-serif;
}

body,
h1,
ul {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: inherit;
  display: inline;
}

ul {
  list-style-type: none;
}

.wrapper {
  max-width: 1020px;
  margin: 0 auto;
}

.header,
.slider,
.services {
  padding: 0 40px;
}

/* HEADER */

.header {
  background-color: #2d303a;
  border-bottom: 5px solid #323746;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: 95px;
}

.logo {
  text-transform: uppercase;
  font-size: 25.7px;
  font-weight: 700;
  line-height: 3.45;
  letter-spacing: -0.9px;
}

.logo a {
  color: #ffffff;
  text-decoration: none;
}

.logo .star {
  color: #f06c64;
}

.header-navigation .navigation {
  display: flex;
}

.navigation li {
  margin-left: 30.7px;
}

.navigation li a {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.3px;
  text-decoration: none;
  color: #ffffff;
  position: relative;
}

.navigation li:not(:first-child) a::after {
  content: ".";
  position: absolute;
  color: #494e62;
  top: -3px;
  left: -17px;
}

.navigation li a.active {
  color: #f06c64;
}

/* SLIDER */

.slider::before,
.slider::after {
  content: "";
  background-repeat: no-repeat;

  width: 71px;
  align-self: stretch;
}

.slider::before {
  background-image: url("./assets/images/slider-left-arrow.svg");
  background-position: 2px center;
}

.slider::after {
  background-image: url("./assets/images/slider-right-arrow.svg");
  background-position: right center;
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider {
  padding-top: 2px;
  padding-bottom: 8px;
  height: 600px;
  background-color: #f06c64;
  border-bottom: 5px solid #ea676b;
}

.phones {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 70px;
}

/* mover for perfect pixel */
.phones {
  margin-left: -2px;
}

.phone-v,
.phone-h {
  display: flex;
  position: relative;
}

.phone-base {
  background-image: url("./assets/images/iPhone.png");
  width: 216px;
  height: 458px;
  position: absolute;
}

.shadow-v {
  background-image: url("./assets/images/shadow-v.png");
  width: 240px;
  left: 1px;
  height: 483px;
  position: relative;
}

.shadow-h {
  background-image: url("./assets/images/shadow-h.png");
  width: 483px;
  left: 3px;
  top: -1px;
  height: 240px;
  position: relative;
}

.phone-v-screen {
  background-image: url("./assets/images/phonescreen-v.jpeg");
  width: 194px;
  height: 339px;
  position: absolute;
  top: 62px;
  left: 12px;
  border: 3px solid #c5c5c5;
  border-radius: 4px;
}

.phone-h-screen {
  background-image: url("./assets/images/phonescreen-h.jpeg");
  width: 339px;
  height: 194px;
  position: absolute;
  top: 10px;
  left: 59px;
  border: 3px solid #c7c7c7;
  border-radius: 4px;
}

.phone-h {
  align-self: center;
}

.phone-h .phone-base {
  transform: rotate(90deg);
  transform-origin: 231px;
}
